@charset "UTF-8";
.container {
  max-width: 1440px;
  background-color: #222021;
}

@media screen and (max-width: 768px) {
  .header_wraper {
    justify-content: space-between !important;
    padding-right: 20px;
    padding-left: 20px;
  }
  .header_a {
    display: none;
  }
  .hamburger {
    display: block !important;
  }
  .backgraund {
    background-image: url(../img/backraund_mobile.jpg);
    background-size: contain;
  }
}
.backgraund {
  padding-top: 218px;
  padding-bottom: 148px;
  background-image: url(/img/Food.svg);
  background-repeat: no-repeat;
  border-radius: 3px 62px 62px 0px;
}

.header_wraper {
  padding-top: 50px;
  width: 100%;
  position: absolute;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-around;
}
.header_wraper a {
  padding-left: 60px;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #F5F5F5;
}
.header_wraper a:last-child {
  margin-right: 100px;
}
.header_wraper .header_h3 {
  padding-right: 100px;
}
.header_wraper .hamburger {
  display: none;
}

.wood {
  background-color: #1E0C06;
  border-radius: 43px 0px 0px 43px;
  max-width: 1245px;
  height: 714px;
  margin-left: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wood h2 {
  font-family: "KyivType Sans";
  max-width: 622px;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 115.4%;
  text-transform: uppercase;
  color: #F5F5F5;
}
.wood p {
  max-width: 333px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #FFDBBB;
}
.wood .btn1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #F5F5F5;
  width: 225px;
  height: 58px;
  margin-top: 58px;
  background: #728BAD;
  border-radius: 42px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 15px;
  outline: none;
  transition: 0.5s;
}
.wood .btn1:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 0 rgb(59, 58, 53);
  background-color: #4011eb;
  color: #ff6117;
}
.wood .btn1:active {
  transform: translateY(-2px);
  box-shadow: 0 3px 0 rgb(250, 8, 8);
}
.wood .wood_after {
  padding-right: 100px;
  border-right: 1px solid #F5F5F5;
  margin-left: 20px;
}
.wood .pictures {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.wood .pictures picture:first-child {
  padding-top: 40px;
  margin-left: 230px;
  flex-basis: 100%;
}
.wood .pictures picture:nth-child(2) {
  margin-left: 10px;
}
.wood .pictures picture:last-child {
  margin-top: 100px;
}
.wood .pictures img {
  width: 100%;
  max-width: 205px;
  max-height: 205px;
  display: flex;
  border-radius: 42px;
}

@media screen and (max-width: 768px) {
  .wood {
    padding-top: 300px;
    flex-direction: column;
    background-color: #1E0C06;
    border-radius: 43px 0px 0px 43px;
    height: 280px;
  }
  .wood h2 {
    font-family: "KyivType Sans";
    margin-top: 100px;
    margin-right: none;
    max-width: 286px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 107.4%;
    text-transform: uppercase;
    color: #F5F5F5;
  }
  .wood p {
    max-width: 165px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFDBBB;
  }
  .wood .btn1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #F5F5F5;
    width: 86px;
    height: 21px;
    margin-top: 58px;
    background: #728BAD;
    border-radius: 42px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 15px;
    outline: none;
    transition: 0.5s;
    margin-bottom: 20px;
  }
  .wood .btn1:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 rgb(59, 58, 53);
    background-color: #4011eb;
    color: #ff6117;
  }
  .wood .btn1:active {
    transform: translateY(-2px);
    box-shadow: 0 3px 0 rgb(250, 8, 8);
  }
  .wood .wood_after {
    border-right: none;
    border-bottom: 1px solid #F5F5F5;
    margin-left: 20px;
  }
  .wood .pictures {
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .wood .pictures picture:first-child {
    margin-left: 230px;
    flex-basis: 100%;
  }
  .wood .pictures picture:nth-child(2) {
    margin-left: 10px;
  }
  .wood .pictures picture:last-child {
    margin-top: 100px;
  }
  .wood .pictures .img1 {
    transform: translateX(-200px);
  }
  .wood .pictures img {
    transform: translateY(-100px);
    width: 100%;
    width: 90px;
    height: 90px;
    display: flex;
    border-radius: 14px;
  }
}
.worck_with {
  color: #F5F5F5;
  font-family: "KyivType Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 139.9%;
  text-transform: uppercase;
  margin-bottom: 125px;
  margin-left: 243px;
}

.worck_with2 {
  display: flex;
  justify-content: center;
  gap: 240px;
}
.worck_with2 img {
  margin: 0 auto;
  width: 100%;
  max-width: 205px;
  max-height: 205px;
  display: flex;
  border-radius: 42px;
}
.worck_with2 h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #F5F5F5;
}
.worck_with2 p {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #F5F5F5;
}
.worck_with2 .active::before {
  content: "✔";
  padding: 12px;
  color: #FFC099;
}
.worck_with2 .passive::before {
  content: "✖";
  padding: 12px;
  color: #FFC099;
}

@media screen and (max-width: 768px) {
  .worck_with {
    font-size: 30px;
    text-align: left;
    max-width: 340px;
    margin-left: 0%;
  }
  .worck_with2 {
    overflow: scroll;
    justify-content: flex-start;
  }
}
body {
  position: relative;
  height: 100%;
}

.swiper_h2 {
  padding: 200px 100px;
  font-family: "KyivType Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 132.9%;
  text-transform: uppercase;
  color: #F5F5F5;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 42px;
}

.Custom_bullet {
  width: 26px;
  height: 26px;
  border: 4px solid #728BAD;
  border-radius: 100%;
  margin: 0 9px;
  display: inline-block;
  box-sizing: border-box;
}
.Custom_bullet.swiper-pagination_bullet_active {
  background: #D5DCEE;
}

.working_us h2 {
  font-family: "KyivType Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 132.9%;
  text-transform: uppercase;
  padding: 120px 100px;
  color: #F5F5F5;
}
.working_us .stairs {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.working_us .stairs p {
  max-width: 420px;
  padding-bottom: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 139.4%;
  color: #F5F5F5;
}
.working_us .stairs img {
  border-radius: 42px;
}
.working_us button {
  background-color: #728BAD;
  border-radius: 42px;
  border: none;
  max-width: 472px;
  padding: 11px 70px 11px 70px;
  height: 58px;
  cursor: pointer;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  color: #F5F5F5;
  margin: 120px 500px 300px 450px;
  transition: 0.5s;
}
.working_us button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 0 rgb(59, 58, 53);
  background-color: #4011eb;
  color: #ff6117;
}
.working_us button:active {
  transform: translateY(-2px);
  box-shadow: 0 3px 0 rgb(250, 8, 8);
}

.us {
  width: 1325px;
  height: 775px;
  background-repeat: no-repeat;
  background-image: url(../img/background.jpg);
  border-radius: 0px 50px 50px 0px;
  border: none;
  display: flex;
  box-shadow: 2px 2px 2px 4px rgb(196, 188, 188);
  box-shadow: #D5DCEE;
}
.us h2 {
  padding-top: 44px;
  padding-left: 50px;
  font-family: "KyivType Sans";
  font-style: normal;
  width: 501px;
  font-weight: 500;
  font-size: 90px;
  line-height: 132.9%;
  text-transform: uppercase;
  color: #F5F5F5;
}
.us p {
  padding-top: 50px;
  padding-left: 50px;
  width: 516px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 139.4%;
  color: #F5F5F5;
}
.us .us_img {
  display: flex;
  flex-direction: column;
  position: relative;
}
.us .us_img .us_img1 {
  display: block;
  position: absolute;
  max-width: 205px;
  max-height: 205px;
  border-radius: 42px;
  margin-left: 550px;
  margin-top: 61px;
}
.us .us_img .us_img2 {
  display: block;
  position: absolute;
  margin-top: 177px;
  margin-left: 320px;
  max-width: 337px;
  max-width: 337px;
  border-radius: 50px;
  border: 10px solid #1E0C06;
}
.us .us_img .us_img3 {
  display: block;
  border-radius: 42px;
  max-width: 205px;
  max-height: 205px;
  margin-top: 539px;
  margin-left: 449px;
}/*# sourceMappingURL=style.css.map */